<div class="mt-2">
    <div class="grid">
        <div class="col-4" *ngFor="let group of getGroups()">
            <div class="kanbancol bg--group bg--group{{getColor(group)}}">
                <div class="kanbancol__title">{{getGroupName(group)}}</div><!-- {{'kanban.column.group' | translate}}</div> -->
                <kanban-card *ngFor="let task of filterTaskGroup(group)" [task]="task" [users]="getUsersNames(task.users)" (showDetail)="openDetails($event)" (changeStatus)="changeStatus($event)"></kanban-card>
            </div>
        </div>
    </div>
</div>