<div class="container">
    <h1>{{'list.title' | translate}}</h1>
    <div class="mt-2">
        <label class="mr-1" for="filterName">{{'list.filter' | translate}}</label>
        <input type="search" id="filterName" [value]="getFilterName()" [placeholder]="'kanban.filter.name' | translate" (input)="setfilterName($event.target.value)">
    </div>

    <kanban-list></kanban-list>

    <div class="mt-2">
        <status-button [text]="'list.addTaskButton' | translate" [class]="'status-button--inline'" (click)="goToAdd()"></status-button>
    </div>
    <task-detail-modal *ngIf="getTaskDetails()" [task]="getTaskDetails()" (cerrarModal)="setTaskDetails(null)"></task-detail-modal>
</div>